.All-the-Sutras-App {
  background-color: #f0ede9;
}
.All-the-Sutras-Content.container {
  max-width: 700px;
  font-family: Rosario;
}

h1 {
  font-family: 'Marck Script';
  color: #211D1A;
}
h2, h3, h4 {
  font-family: 'Kaushan Script';
  color: #776363;
}
h2.higher, h3.higher, h4.higher {
  color: #211D1A;
}
.sanskrit-latin {
  font-family: Rosario;
}
.list-group-item {
  color: #211D1A;
  background-color: transparent;
}
