.compact-sutra .sutra-number {
  font-weight: bolder;
  font-size: calc(2.4rem + .9vw + 10px);
  margin-top: 5px;
}
.compact-sutra h2 {
  font-size: calc(1.2rem + .9vw);
  margin-bottom: 0;
}
.compact-sutra h2.sanskrit-latin {
  margin-top: 5px;
}
.compact-sutra .sutra-core-info {
  margin-bottom: 20px;
}
.compact-sutra .core-english-translation .info {
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
}
.compact-sutra .left-side {
  margin-bottom: 20px;
  text-align: right;
  padding-right: 30px;
}
.compact-sutra .right-side {
  margin-bottom: 20px;
  text-align: left;
}
