.chapter {
  margin-top: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.chapter-wrapper {
  border-bottom: 2px solid rgba(0,0,0,0.125);
  margin-bottom: 15px;
}
.chapter h2 {
  font-size: calc(1.45rem + .9vw);
  text-align: center;
}
.chapter h3 {
  font-size: calc(1.4rem + .6vw);
  text-align: center;
}
