.All-the-Sutras-App {
  background-color: #f0ede9;
}
.All-the-Sutras-Content.container {
  max-width: 500px;
}

h1 {
  font-family: 'Marck Script';
  color: #211D1A;
}
h2, h3, h4 {
  font-family: 'Kaushan Script';
  color: #776363;
}

.list-group-item {
  color: #211D1A;
  background-color: transparent;
}
